* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Candara;
    margin: 0;
}

/* Header/logo Title */
header {
    padding: 60px 60px 0 60px;
    text-align: center;
    background: #af4a01;
    color: white;
    display: flex;
    justify-content: space-between;
/* background-image: url("assets/images/static_website.png");
    background-repeat: no-repeat;
    background-position: center; */
}

/* Style the top navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #af4a01;
}

.nav-logo>a{
    color: white;
}

/* Style the navigation bar links */
.nav-menu, .nav-logo, .nav-menu>a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
.nav-menu > a:hover {
    background-color: white;
    color: #af4a01;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Column container */
section {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
aside {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
article {
    flex: 70%;
    background-color: #af4a01;
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Footer */
footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    display: flex;
    flex-direction: column;
}

.footer-title {
    font-size: 16px;
    color: #af4a01;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    section, nav {
        flex-direction: column;
    }
}

a {
    text-decoration: none !important;
}

.card-title{
    font-size: 72px;
    color: white;
    margin-bottom: 20px;
}

.card-text{
    font-size: 20px;
    color: white;
}

.card-img>img{
    width: 700px;
}

.card-body{
    display:flex;
    flex-direction: column;
    padding: 0 20px;
}

.card{
    display: flex;
    justify-content: space-between;
}

.px-40{
    padding: 40px 0;
}

img{
    border-radius: 10px;
}

.product-img{
    width: 100%;
}

.card-product-text{
    font-size: 16px;
    color: white;
    text-align: center;
}

.card-product{
    padding: 10px
}

.card-product > img{
    margin-bottom: 10px;
}

.mb-0{
    margin-bottom: 0 !important;
}

.mt-20{
    margin-top: 20px;
}